body {
	margin: 0;
    padding: 0;
}

.titre {
	font-size: 40px;
	text-align: center;
}

.nav {
	list-style-type: none;
	border: 1px solid;
}

.nav ul {
	margin-top: 20px;
	display: none;
	display: inline-block;
}

.nav a {
	display: none;
	margin-left: 10px;
}

.nav:hover a {
	display: block;
}

.menu {
	width: 150px;
	display: block;
}

.menu:hover {
	background-color: silver;
}

.case {
	width: 100px;
	margin-left: 50%;
	margin-top: 50px;
	border-radius: 10px;
	background-color: black;
	color: white;
}

.bas {
	background-color: black;
	color: white;
}

.bas p {
	border: 5px silver solid;
}

div .services {
	list-style-type: none;
}
.services li {
	margin-top: 50px;
}