html {
  position: relative;
  min-height: 100%;
}

body {
	margin: 0;
    padding: 0;
    margin-bottom: 60px;
}

/* Menu */
.titre {
	font-size: 40px;
	text-align: center;
}

.sous_titre {
	font-size: 25px;
	text-align: center;
}

/* Fin menu*/

/* Bas de page*/
.bas {
	clear: both;
	background-color: black;
	color: white;
}

.bas p {
	width: 100%;
}
/* Fin BAS */
.sous_footer {
	background-color: #f5f5f5;
	color: gray;
}
/* Footer */
.footer {
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: auto;
	background-color: #f5f5f5;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #eee;
}

footer .footer {
	z-index: 9999;
}

.tel {
	float: right;
	font-size: 30px;
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}

/* Fin Footer*/


/* Ajout icons  */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v22/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}